node_modules
dist
dist-ssr
*.local

# Rust / Tauri
src-tauri/target
src-tauri/gen

# 编辑器
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 日志
*.log
npm-debug.log*

# 绿色版输出
portable/
